/* line 3, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#show {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 9, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#event {
  flex: 1;
  margin-right: 20px;
}

/* line 14, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#event td {
  padding-right: 10px;
}

/* line 18, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#event_title {
  display: flex;
  justify-content: space-between;
}

/* line 23, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#event_controls {
  text-align: right;
  margin-top: 10px;
}

/* line 28, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#event_content, #event_pictures {
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

/* line 35, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#event_content {
  position: relative;
}

/* line 38, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#event_pictures img {
  margin-right: 10px;
}

/* line 42, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
.btn-centered {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* line 48, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
.btn-centered a {
  margin: 0px 5px 0px 5px;
}

/* line 52, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#avatar {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 59, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#discussion {
  flex: 1;
}

/* line 63, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
#comments {
  margin-top: 20px;
}

/* line 67, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
.comment {
  border-bottom: solid 1px #c2c2c2;
  margin-bottom: 15px;
}

/* line 72, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
.event_action {
  text-align: center;
  margin: 0px 7px 0px 7px;
  font-size: 12px;
}

/* line 78, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
.event_action p {
  margin: 5px 0px 0px 0px;
}

/* line 82, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/event.scss */
.event_lat, .event_lng, .event_city, .event_zip {
  display: none;
}
