/* line 11, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.btn {
  border-color: purple;
  color: purple;
}

/* line 16, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.btn a:hover {
  background-color: green !important;
}

/* line 20, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

/* line 26, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.btn-primary {
  color: #fff;
  background-color: #A445A1;
  border-color: black;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 35, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.search-bar {
  display: block !important;
  justify-content: center !important;
  margin: auto !important;
  margin-bottom: 4rem !important;
}

/* line 42, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.search-box {
  margin: auto  !important;
  background-color: #E0D4E8 !important;
  display: block  !important;
  justify-content: center  !important;
  border: 1px purple solid !important;
  width: 80vw !important;
}

/* line 51, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.modal-header {
  background-color: #A445A1;
  border-top-radius: 5px;
  border: solid 2px purple;
}

/* line 57, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.modal-title {
  font-size: 20px;
}

/* line 60, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.modal-body {
  background-color: white;
  font-size: 110%;
}

/* line 64, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.modal-footer {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

/* line 69, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.btn-secondary {
  background-color: white;
  color: purple;
}

/* line 3, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#events td {
  vertical-align: middle;
}

/* line 7, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#events tbody tr:hover {
  background-color: #2e8585;
  color: white;
  cursor: pointer;
}

/* line 13, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#events th:not(:first-of-type), #events td:not(:first-of-type) {
  text-align: center;
}

/* line 17, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#events thead > tr {
  background-color: #2e8585;
  color: white;
  font-weight: bold;
}

/* line 23, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#events thead > tr > th {
  border: none;
}

/* line 27, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#add_event {
  text-align: center;
}

/* line 31, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#add_event > a:hover {
  background-color: #2e8585;
  border-color: #2e8585;
  color: white;
}

/* line 37, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* line 43, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#search-box {
  border-color: #2e8585;
  color: #2e8585;
  margin: auto;
  width: 700px;
}

/* line 50, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
#pagination-container ul {
  padding: 0px;
}

/* line 54, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
.organizer {
  width: 40px;
  height: 40px;
}

/* line 59, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/events.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #258787;
}
