/* line 3, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/members.scss */
#members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 10, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/members.scss */
.member {
  align-items: center;
  background: #339999;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 10px;
  width: 100px;
}

/* line 22, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/members.scss */
.member:hover {
  background: #2e8585;
}

/* line 26, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/members.scss */
.member:hover .avatar {
  display: none;
}

/* line 30, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/members.scss */
.member:hover .pseudo_hover {
  display: flex;
}

/* line 34, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/members.scss */
.pseudo, .pseudo_hover {
  align-items: center;
  display: flex;
  height: 100px;
  padding: 0px 5px 0px 5px;
  text-align: center;
}

/* line 42, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/members.scss */
.pseudo_hover {
  display: none;
}

/* line 46, /Users/karnoult/Dev/bilobaba/app/assets/stylesheets/members.scss */
.avatar img {
  height: 100px;
  width: 100px;
}
