/* line 10, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.btn {
  border-color: purple;
  color: purple;
}

/* line 15, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.btn a:hover {
  background-color: green !important;
}

/* line 19, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

/* line 25, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/_default.scss */
.btn-primary {
  color: #fff;
  background-color: purple;
  border-color: black;
}

/* line 3, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/pricing.scss */
em {
  font-size: 80%;
}

/* line 7, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/pricing.scss */
h4 {
  border-bottom: solid 4px;
  border-color: #2e8585;
  margin-bottom: 20px;
  padding: 5px;
}

/* line 14, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/pricing.scss */
.pricing-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 20, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/pricing.scss */
.pricing {
  margin: 0 30px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
}

/* line 27, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/pricing.scss */
.pricing-image {
  margin-top: 30px;
  text-align: center;
}

/* line 32, /home/duy/code/Bilobaba/bilobaba/app/assets/stylesheets/pricing.scss */
.pricing-image > img {
  width: 200px;
}
