<!-- This file is in `app/views/shared/_flashes.html.erb` -->

<% if alert %>
  <div class="container">
    <div class="alert alert-warning alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="fermer">×</a>
    <strong><%= alert %> </strong>
  </div>
  </div>
<% end %>
