<div id="search-bar">
  <input type="text" class="form-control" id="search-box"></input>
  <div id="add_event">
    <%= link_to 'Créer un évènement', new_event_path, class: 'btn btn-default' if member_signed_in? %>
  </div>
</div>
<div id="hits-container"></div>
<div id="pagination-container"></div>

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>

<script>
  var search = instantsearch({
    apiKey: '<%= ENV['ALGOLIA_SEARCH_API_KEY_SEARCH'] %>',
    appId: '<%= ENV['ALGOLIA_SEARCH_APPLICATION_ID'] %>',
    indexName: 'Event',
    searchParameters: {
      filters: 'unix_begin_at > <%= Time.now.to_i %>'
    }
  });

  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-box',
      placeholder: 'Trouver mes envies...',
      autofocus: true
    })
  );

  var hitTemplate =
      '<table class="table">' +
      '<thead>' +
        '<tr><th>Evènement</th><th>Date</th><th>Prix</th><th>Lieu</th><th>Orga.</th></tr>' +
      '</thead>' +
      '<tbody>' +
        '{{#hits}}' +
          '<tr onclick="document.location=\'{{url}}\'">' +
            '<td>{{short_title}}</td>' +
            '<td>{{show_begin_at}}</td>' +
            '<td>{{show_price}}</td>' +
            '<td>{{zip}}</td>' +
            '<td>{{member_pseudo}}</td>' +
          '</tr>' +
        '{{/hits}}' +
      '</tbody>' +
    '</table>';

  var noResultsTemplate =
    '<div class="text-center">Nous n\'avons trouvé aucun résultat pour <strong>{{query}}</strong>.</div>';

  search.addWidget(
    instantsearch.widgets.hits({
      container: '#hits-container',
      templates: {
        empty: noResultsTemplate,
        allItems: hitTemplate
      },
      hitsPerPage: 20
    })
  );

  search.addWidget(
    instantsearch.widgets.pagination({
      container: '#pagination-container'
    })
  );

  search.start();

</script>
