<div id="map_container" onfocusout="hideMap()">
    <div id="map">
    </div>
    <div id="map_close" onclick="hideMap()">Close</div>
</div>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + ENV['GOOGLE_API'], async: true, defer: true, 'data-turbolinks-eval': false %>
<%= javascript_include_tag 'map.js' %>