  <div class="page-header">
    <div class="page-header-overlay">
      <div class="container w-container">
        <h1 data-ix="fade-in-on-load" class="page-header-title">Courses Overview</h1>
        <h2 data-ix="fade-in-on-load-2" class="page-subtitle">Overview of our Courses in List view.</h2>
      </div>
    </div>
  </div>
  <div class="course-category-fixed-block">
    <div class="fixed-block-title">Categories</div>
    <div class="w-dyn-list">
      <div class="w-dyn-items">
        <div class="w-dyn-item"><a class="category-link-title"></a></div>
      </div>
      <div class="w-dyn-empty">
        <p>No items found.</p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="w-dyn-list">
        <div class="w-clearfix w-dyn-items">
          <div class="courses-list-item w-dyn-item">
            <div class="course-block-wrapper list-view w-clearfix">
              <a class="course-image-link-block list-view w-inline-block">
                <div class="image-overlay-block"></div>
              </a>
              <div class="featured-label">Featured</div>
              <div class="course-content-block list-view"><a class="course-title-link list-view"></a></div>
              <div class="course-content-block _2 list-view"><img class="teacher-overlay-photo list-view-photo w-hidden-tiny">
                <div class="teacher-overlay-title list-view w-hidden-tiny"></div>
                <div class="course-info-icon"></div>
                <div class="course-info-title list"></div>
                <div class="course-info-icon"></div>
                <div class="course-info-title list"></div>
                <div class="course-info-icon"></div><a class="list-info-link"></a></div>
            </div>
          </div>
        </div>
        <div class="empty-state w-dyn-empty">
          <p>No items found.</p>
        </div>
      </div>
    </div>
  </div>
