<%= stylesheet_link_tag 'events' %>
<%= stylesheet_link_tag 'form_sign' %>

<div class="container">
  <div class="table-responsive" id="events">
    <%= render partial: "events_search" %>
  </div>
</div>
