<!-- <div class="container">
  <%= render 'form', event: @event %>
</div>
 -->

<div class="container" style="display: flex">
  <div><input id="getSetMultiPicker" style="margin: 20px; background: black; color: black"></div>
  <div type="text" id="resultDatePicker" style="margin: 20px; background: green" ></div>
  <div type="text" id="resultDatePicker2" style="margin: 20px; background: green" ></div>
</div>

<p> *************************************************** </p>

<div class="container" style="display: flex">
<input type="text" size="10" id="l10nPicker" >
<input type="text" size="30" id="l10nAlternate" readonly="readonly">
</div>

<p> *************************************************** </p>
<script>

  var tabShow = [];

  valeur = $('#mdp').calendarsPicker();
  valeur = $('#mdp2').calendarsPicker();
  $('resultDatePicker').attr("disabled", true);

  // $('#getSetMultiPicker').calendarsPicker({multiSelect: 400, dateFormat: 'dd/mm/yyyy'});
  $('#getSetMultiPicker').calendarsPicker({multiSelect: 400, multiSelect: 2});
  $('#getSetMultiPicker').change(function(){
    var result = $('#getSetMultiPicker')[0].value;

    tab = result.split(',');

    tabShowed = "";
    tabShow = [];

    if (tab[0] != ""){
      tab.forEach(function(element,index) {
        day = new Date(tab[index]);
        dayString = day.toLocaleDateString('fr')
        tabShow[index] = DayWeek(day) + ' ' + day.toLocaleDateString('fr');
      });
    }

    tabShowed = tabShow.join('<br>');
    $('#resultDatePicker')[0].innerHTML = tabShowed;
  });

  // Define the callback function.
  function DayWeek(day) {
    Days = ["Dim","Lun","Mar","Mer","Jeu","Ven","Sam"];
    return Days[day.getDay()];
  }


$('#l10nPicker').calendarsPicker($.extend({
    showTrigger: '#calImg',
    multiSelect: 400,
    altField: '#l10nAlternate', altFormat: 'DD, d MM, yyyy'}));

$('#l10nLanguage').change(function() {
    var language = 'fr';
    $.localise('js/jquery.datepick', language);
    $('#l10nPicker').datepick('option', $.datepick.regionalOptions[language]);
    $.datepick.setDefaults($.datepick.regionalOptions['']);
});

</script>
