<div class="container" style="margin: auto; width: 700px; background-color: #c2c2c2; border-radius: 3px;">
<input type="text" id="search-box" style="width: 600px; height: 30px; margin: auto; " />
</div>
<br>
<br>
<div class="container">
  <div id="hits-container"></div>
  <div id="pagination-container"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>
<script>
  var search = instantsearch({
    apiKey: '<%= ENV['ALGOLIA_SEARCH_API_KEY_SEARCH'] %>',
    appId: '<%= ENV['ALGOLIA_SEARCH_APPLICATION_ID'] %>',
    indexName: 'Event',
    searchParameters: {
    filters: 'unix_begin_at > <%= Time.now.to_i %>'
    }
  });

  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-box',
      placeholder: ' Trouver mes envies ...',
      autofocus: true,
      poweredBy: true
    })
  );


var hitTemplate =
  '<div class="hit media">' +'<a href="//{{event_url}}">' +
    '<div class="media-left">' +
      '<div class="media-object" style="background-image: url(\'{{member_avatar}}\');"></div>' +
    '</div>' +
    '<div class="media-body">' +
      '<h4 class="media-heading"> {{{_highlightResult.summary.value}}} </h4>' +
    '</div>' + '</a>' + '<hr> '
  '</div>' ;

var noResultsTemplate =
  '<div class="text-center">Nous n\'avons trouvé aucun réusultat pour <strong>{{query}}</strong>.</div>';


search.addWidget(
  instantsearch.widgets.hits({
    container: '#hits-container',
    templates: {
      empty: noResultsTemplate,
      item: hitTemplate
    },
    hitsPerPage: 10
  })
);

  search.addWidget(
    instantsearch.widgets.pagination({
      container: '#pagination-container'
    })
  );

  search.start();
</script>
