<div class="container">
<input type="text" id="search-box" style="width: 600px; height: 30px; margin: auto; " />
<div id="hits-container"></div>
<div id="pagination-container"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>
<script>
  var search = instantsearch({
    appId: '83N3URNY53',
    apiKey: 'c429a3d14fd4af659f01c6017a7b9fc9',
    indexName: 'Event',
    searchParameters: {
    filters: 'event_begin > <%= Time.now.to_i %>'
    }
  });

  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-box',
      placeholder: ' Trouver mes envies ...',
      autofocus: true,
      poweredBy: true
    })
  );


var hitTemplate =
  '<div class="hit media">' +'<a href="//{{event_url}}">' +
    '<div class="media-left">' +
      '<div class="media-object" style="background-image: url(\'{{member_avatar}}\');"></div>' +
    '</div>' +
    '<div class="media-body">' +
      '<h4 class="media-heading"> {{{_highlightResult.event_summary.value}}} </h4>' +
    '</div>' + '</a>' + '<hr> '
  '</div>' ;

var noResultsTemplate =
  '<div class="text-center">Nous n\'avons trouvé aucun réusultat pour <strong>{{query}}</strong>.</div>';


search.addWidget(
  instantsearch.widgets.hits({
    container: '#hits-container',
    templates: {
      empty: noResultsTemplate,
      item: hitTemplate
    },
    hitsPerPage: 10
  })
);

  search.addWidget(
    instantsearch.widgets.pagination({
      container: '#pagination-container'
    })
  );

  search.start();
</script>
