<%= stylesheet_link_tag 'home' %>

<div id="home">
    <p id="home_title">Bilobaba</p>
    <em>Partageons nos belles expériences.</em>
    <br />
    <br />
      <p>"Ce site est un agenda parisien pour danser et s'épanouir. Vous trouverez ici tous les cours sur Paris de la danse des 5 Rythmes, Movement Medecine, Openfloor ... et autres danses pour s'épanouir.
      <br />
      Belle journée et que la magie de la danse nous arrose de sa joie d'être."</p>

</div>

<div id="home_news_img">
    <span id="home_news_title"> Notre premier professionnel client du site : </span>
    <%= link_to 'https://www.bilobaba.com/events/3949' do %>
      <%= cl_image_tag( "jekpeztbzhxdz6tpd3rl.png", width: 400) %>
    <% end %>
</div>
