<div id="home_content">
    <p id="home_title">Bilobaba <span><%= link_to '(à propos)', root_path %></span></p>
    <br />
    <p>"L'agenda parisien pour danser et s'épanouir. Vous trouverez ici tous les cours sur Paris des danses des 5 Rythmes, Movement Medecine et Openfloor ... et autres pratiques pour s'épanouir. 
    <br />
    Belle journée et que la magie de la danse nous arrose de sa joie d'être."</p>
</div>