<%= stylesheet_link_tag 'home' %>

<p style="text-align: center">
      Une super association Co-Dancing est née et propose sa toute première soirée. <br />
      Vous aimez la danse et vous cherchez à vous épanouir ? <br />
      C'était deux questions pièges puisque vous êtes sur Bilobaba, vous avez répondu 'oui' et 'oui'.<br />
      Venez découvrir la première sénce de Co-Dancing <br />
      <br />
      <%= link_to 'http://www.bilobaba.com/events/4526' do %>
      <img width="600" height="200" src="http://res.cloudinary.com/bilobaba/image/upload/ormznvpks3nysikex9ai.jpg" alt="Ormznvpks3nysikex9ai">
      <% end %>
</p>
