<div class="container">
    Vous n'avez pas les droits pour modifier cet événement !<br />
    Pour vous déconnectez, et vous reonnectez avec un autre compte, c'est <%= link_to('ici', destroy_member_session_path, method: :DELETE, class: 'reverse') %>.
</div>


