<%= stylesheet_link_tag 'pricing' %>
<div class="pricing-box">
  <div class="pricing">
    <h4>Membres</h4>
    <p>
      Gratuit pour toujours
      <ul>
        <li>  Annonce de toutes activités que vous organisez. </li>
        <li>  Accès vers vos photos et témoignages des 3 derniers mois.</li>
        <li>  3 tags pour définir vos activités </li>
      </ul>
      <br />
      <br />
      Vous avez envie de partager une activité avec des personnes qui cheminent en conscience sur le chemin de la vie, ou du moins qui essaient. Créez une proposition! Ca peut être un pique-nique, une ballade, un cours de yoga, une conférence, un cours de danse animé par un de nos proposants. Donnez-vous un rendez-vous pour que le petit groupe se retrouve et fasse connaissance avant ou après l'activité.
    </p>
  </div>
  <div class="pricing">
    <h4>Proposants</h4>
    <p>
      Gratuit pour toujours
      <ul>
        <li>  Annonce de les toutes activités que vous animez. </li>
        <li>  Lien vers votre site ou page personnelle.</li>
        <li>  3 tags pour définir vos activités </li>
      </ul>
    </p>
    <br />
    <br />
    <p>
      Payant : pour plus tard
      <ul>
        <li>  Mise à jour automatique sur Bilobaba à partir de vos événements Facebook.</li>
        <li>  Une billeterie en ligne. (à l'étude, tarification suivant le volume)</li>
      </ul>
    </p>
    <br />
      D'ailleurs si vous avez des idées de services qui vous seraient utiles contactez-nous par le formulaire de "Contact".
  </div>
</div>
