  <div class="page-header pricing">
    <div class="page-header-overlay pricing">
      <div class="container centered w-container">
        <h1 data-ix="fade-in-on-load" class="page-header-title">Tarifs &amp; Services</h1>
        <h2 data-ix="fade-in-on-load-2" class="page-subtitle pricing">Nous avons 3 types de services</h2>
      </div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">
      <div class="pricing-row w-row">
        <div class="pricing-column w-col w-col-4">
          <div class="pricing-block">
            <div class="pricing-content-block">
              <div class="pricing-title">Formule Kiwi</div>
              <div class="pricing-title subtitle">Pour les proposants professionels</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">Annonce de toutes vos ateliers et stages</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">La liste des témoignages est limitée à 3 mois</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">Une catégorie pour définir votre activité</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
                <div class="pricing-feature-title" style="text-align: center !important;">0 €</div>
            </div>

            <div class="pricing-content-block feature with-button"><a href="#" class="button pricing-button w-button">Activez votre compte</a></div>
          </div>
        </div>
        <div class="pricing-column w-col w-col-4">
          <div class="pricing-block">
            <div class="pricing-content-block">
              <div class="pricing-title">Formule Kaki</div>
              <div class="pricing-title subtitle">Pour les proposants professionels</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">Annonce de toutes vos ateliers et stages</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">La liste des témoignages est illimitée</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">5 catégories-synonymes pour définir votre activité</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
                <div class="pricing-feature-title" style="text-align: center !important;">0 €</div>
                <div class="pricing-feature-title subtitle" style="text-align: center !important;">0 €</div>
            </div>
        <div class="pricing-content-block feature with-button"><a href="#" class="button pricing-button w-button">Activez votre compte</a></div>
          </div>
        </div>
        <div class="pricing-column last w-col w-col-4">
          <div class="pricing-block">
            <div class="pricing-content-block">
              <div class="pricing-title">Formule Coco</div>
              <div class="pricing-title subtitle">Pour les commerçants et prestatraires</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">Votre page avec vos produits et services</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">Vous ne payez que sur les ventes réalisées</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">Un système gagnants pour commerçant/client/site</div>
            </div>
            <div class="pricing-content-block feature w-clearfix">
              <div class="pricing-feature-title">Renseignez-vous</div>
            </div>
            <div class="pricing-content-block feature with-button"><a href="#" class="button pricing-button w-button">Activez votre compte</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Vous avez des questions?</h2>
        <h2 class="section-title subtitle">Si vous avez la moindre question à propos de nos tarifs, n'hésitez pas à nous contacter.</h2>
        <div class="section-title-divider"></div>
      </div>
      <div class="w-row">
        <div class="contact-column-left w-col w-col-6">
          <a href="#" class="large-contact-block w-inline-block">
            <div class="contact-block-small-title">Par mail</div>
            <div class="contact-block-icon"></div>
            <div class="contact-block-title">hello.bilobaba@gmail.com</div>
          </a>
        </div>
        <div class="contact-column-right w-col w-col-6">
          <a href="#" class="large-contact-block _2 w-inline-block">
            <div class="contact-block-small-title">Par téléphone</div>
            <div class="contact-block-icon"></div>
            <div class="contact-block-title">06 63 21 61 65</div>
          </a>
        </div>
      </div>
    </div>
  </div>

