<%= stylesheet_link_tag 'pricing' %>

<div class="pricing-box">
  <div class="pricing">
    <h4>Participants</h4>
    <p>
      Gratuit pour toujours
      <ul>
        <li>Annonce des activités que vous organisez.</li>
        <li>Publication de vos témoignages (en cours).</li>
      </ul>
      <br />
      <br />
      Vous avez envie de partager une activité avec des personnes qui cheminent en conscience sur le chemin de la vie, ou du moins qui essaient. Créez une proposition! Ca peut être un pique-nique, une ballade, un cours de yoga, une conférence, un cours de danse animé par un de nos proposants. Donnez-vous un rendez-vous pour que le petit groupe se retrouve et fasse connaissance avant ou après l'activité.
    </p>
  </div>
  <div class="pricing">
    <h4>Proposants</h4>
    <p>
      Gratuit pour toujours
      <ul>
      <li>  Annonce des activités que vous animez. </li>
      <li>  Lien vers votre site ou page personnelle.</li>
      </ul>
      <br />
      <br />
      Payant à venir
      <ul>
      <li>  Conseils pour la rédaction de vos textes. </li>
      <li>  Vous faire une belle photo . </li>
      <li>  Une billeterie en ligne. </li>
      <li>  Historiser un livre d'or avec des témoignages vraiment parlants. </li>
      </ul>
      <br />
      <br />
      D'ailleurs si vous avez des idées de services qui vous seraient utiles contactez-nous par le formulaire de "Contact"
    </p>
  </div>
</div>
