<div class="container", style="width: 600px; font-size: 120%">
Bonjour et bienvenue sur Bilobaba. </br></br>
Que vous soyez un habituel de Smihug ou pas, vous allez retrouver sur ce nouveau site les cours de danse des 5 Rythmes, de Movement Medecine, d'Open Floor et bien d'autres pratiques de danses du bien-être. </br></br>

Notre ambition est de vous accompagner dans votre évolution personnelle en vous facilitant la recherche d'informations sur les activités qui y contribuent. </br>

 Excellente journée.</br></br>
 L'équipe
</div>
