<%= stylesheet_link_tag 'team' %>

<div id="team" class="team-box">
  <div class="member">
    <div class="member-bio">
      <h4>Duy <em>(CEO) dit le Sage</em></h4>
      <p>
        Il a exploré de nombreux domaines dans la psychologie et la spiritualité tels que la PNL, l'hypnose, différents tantras, le bouddhisme zen, le taoïsme.
        Après des années de travail d'accompagnement comme coach-formateur, il a décidé de contribuer à plus grande échelle ceux qui explorent une démarche personnelle ce site.
      </p>
    </div>
    <div class="member-image"><%= image_tag("duy-moine.jpg") %></div>
  </div>
  <div class="member">
    <div class="member-bio">
      <h4>Kévin <em>(CTO) dit le Génie</em></h4>
      <p>
        Dans l'équipe, on l'appelle comme ça parce qu'il réussit à faire des choses qui semblaient impossibles avec une facilité et rapidité déconcertantes.
        Un esprit vif dans un corps sain par la pratique de nombreux sports tels que le trail, la randonnée, l'escalade, le tennis et bien d'autres.
        Tout ceci au service d'un grand cœur tourné vers l'économie sociale et solidaire.
      </p>
    </div>
    <div class="member-image"><%= image_tag("kevin-genie.png") %></div>
    <p class="copyright">&copy Juliette AUVRAY</p>
  </div>
  <div class="member">
    <div class="member-bio">
      <h4>Souya <em>(Growth Hacker) dit le Mineur</em></h4>
      <p>
        Le travail qu'il a fait pour le site est comparable à celui des mineurs de fond.
        C'est invisible. C'est souterrain.
        Pour arriver à naviguer dans les API Nokigiri, Watir, Koala, FBGraph : il faut, comme lui, être patient, déterminé et persévérant.
        C'est caché. C'est discret.
        Mais il est en train de nous découvrir des joyaux... presque normal pour un site en ruby avec des super gems.
      </p>
    </div>
    <div class="member-image"><%= image_tag("souya-mineur.jpg") %></div>
  </div>
</div>
