<%= stylesheet_link_tag 'home' %>

<div id="team">
    <p id="team_title">Notre équipe</p>
    <em>Partageons nos belles expériences.</em>
    <br />
    <br />
      <p></p>
    <div style="background-color: green; width: 300px; height: 300px; margin: auto; border: 1px"></div>
    <div style="background-color: green; width: 300px; height: 300px; margin: auto;"></div>
    <div style="background-color: green; width: 300px; height: 300px; margin: auto;"></div>
</div>

