<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Mar 23 2018 10:11:42 GMT+0000 (UTC)  -->
<html data-wf-page="5ab4d2321738f49c077f5ca4" data-wf-site="5a8d8e93b7a50a0001e1b4fe">
<head>
  <meta charset="utf-8">
  <title>Template University - Webflow Responsive Website Template</title>
  <meta content="Template University - Webflow Responsive Website Template" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/duys-trendy-project.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Source Sans Pro:200,300,regular,italic,600,700,900"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/Favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/Webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="hero-section smaller">
    <div class="hero-content-overlay-block w-hidden-small w-hidden-tiny"></div>
    <div data-animation="slide" data-duration="600" data-infinite="1" data-ix="show-hero-slider-arrow" data-delay="7000" data-autoplay="1" class="hero-slider auto-height w-slider">
      <div class="w-slider-mask">
        <div class="hero-slide _3 w-slide">
          <div class="hero-slide-overlay padding">
            <div class="slide-load-boar">
              <div data-ix="fill-slide-load-bar" class="slide-load-bar-fill"></div>
            </div>
            <div class="container hero-slide-container w-container">
              <div class="hero-slide-content-block">
                <div data-ix="slide-title-1" class="hero-slide-intro-title">Education &amp; School</div>
                <h1 data-ix="slide-title-2" class="hero-slide-title">Showcase courses, events and more!</h1>
                <p data-ix="slide-title-3" class="slide-intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p><a href="blog.html" data-ix="slide-title-4" class="button slider-button w-button">Learn more</a></div>
            </div>
          </div>
        </div>
        <div class="hero-slide w-slide">
          <div class="hero-slide-overlay padding">
            <div class="slide-load-boar">
              <div data-ix="fill-slide-load-bar" class="slide-load-bar-fill"></div>
            </div>
            <div class="container hero-slide-container w-container">
              <div class="hero-slide-content-block">
                <div data-ix="slide-title-1" class="hero-slide-intro-title">Education &amp; School</div>
                <h1 data-ix="slide-title-2" class="hero-slide-title">School &amp; Education Webflow Template</h1>
                <p data-ix="slide-title-3" class="slide-intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p><a href="about-us.html" data-ix="slide-title-4" class="button slider-button w-button">Learn more</a></div>
            </div>
          </div>
        </div>
        <div class="hero-slide _2 w-slide">
          <div class="hero-slide-overlay padding">
            <div class="slide-load-boar">
              <div data-ix="fill-slide-load-bar" class="slide-load-bar-fill"></div>
            </div>
            <div class="container hero-slide-container w-container">
              <div class="hero-slide-content-block">
                <div data-ix="slide-title-1" class="hero-slide-intro-title">Education &amp; School</div>
                <h1 data-ix="slide-title-2" class="hero-slide-title">Easily customize to fit your company</h1>
                <p data-ix="slide-title-3" class="slide-intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p><a href="pricing.html" data-ix="slide-title-4" class="button slider-button w-button">Learn more</a></div>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="hide-slider-arrow" class="hero-slider-button w-hidden-small w-hidden-tiny w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div data-ix="hide-slider-arrow" class="hero-slider-button w-hidden-small w-hidden-tiny w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="hero-slider-nav w-hidden-main w-hidden-medium w-slider-nav w-round"></div>
    </div>
  </div>
  <div class="section tint stats">
    <div class="container w-container">
      <div class="hero-overlay-row w-row">
        <div class="stats-column w-col w-col-4">
          <a href="our-courses/courses-grid-view.html" class="hero-overlay-block w-inline-block">
            <div class="hero-overlay-number">45</div>
            <div class="hero-overlay-block-title">Courses</div>
            <p class="link-block-paragraph">We currently offer 45 professional courses.</p>
          </a>
        </div>
        <div class="stats-column w-col w-col-4">
          <a href="teachers.html" class="hero-overlay-block w-inline-block">
            <div class="hero-overlay-number">12</div>
            <div class="hero-overlay-block-title">Teachers</div>
            <p class="link-block-paragraph">We have 12 professional teachers teaching.</p>
          </a>
        </div>
        <div class="stats-column last w-col w-col-4">
          <a href="events.html" class="hero-overlay-block w-inline-block">
            <div class="hero-overlay-number">65</div>
            <div class="hero-overlay-block-title">Events</div>
            <p class="link-block-paragraph">Currently 65 exciting upcoming events!</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Featured Courses</h2>
        <div class="section-title-divider"></div>
      </div>
      <div class="w-dyn-list">
        <div class="w-clearfix w-dyn-items w-row">
          <div class="featured-course-item w-dyn-item w-col w-col-3">
            <div class="course-block-wrapper home-featured">
              <a class="course-image-link-block home-featured w-inline-block">
                <div class="teacher-overlay-block w-clearfix"><img class="teacher-overlay-photo">
                  <div class="teacher-overlay-title"></div>
                </div>
                <div class="image-overlay-block">
                  <div class="image-overlay-block w-clearfix">
                    <div class="featured-label">Featured</div>
                  </div>
                </div>
              </a>
              <div class="course-content-block"><a class="course-title-link"></a></div>
              <div class="course-content-block _2">
                <div class="course-info-icon"></div>
                <div class="course-info-title"></div>
                <div class="course-info-icon"></div>
                <div class="course-info-title"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-state w-dyn-empty">
          <p>No other featured courses found.</p>
        </div>
      </div>
      <div class="bottom-info-text">Want to see the full list of our Courses? <a href="our-courses/courses-grid-view.html">View Full Courses Overview →</a></div>
    </div>
  </div>
  <div class="image-section">
    <div class="image-section-overlay">
      <div class="container w-container">
        <div class="image-section-content-block">
          <h2 class="image-section-title">Interesting in taking a course?</h2>
          <h2 class="image-section-title _2">If you register now, you will get one course for free! Be quick, because only the first 100 submissions will be picked!</h2><a href="404.html" class="button white w-button">Learn more</a></div>
        <div class="image-section-contact-form w-form">
          <form id="wf-form-Register-Form" name="wf-form-Register-Form" data-name="Register Form">
            <div class="contact-form-block">
              <div class="contact-form-title"><strong>Register now</strong> and get one course for free!</div>
            </div>
            <div class="contact-form-block _2"><input type="text" id="Name-3" name="Name" data-name="Name" placeholder="Enter your name" maxlength="256" class="field register w-input"><input type="email" class="field register w-input" maxlength="256" name="Email" data-name="Email" placeholder="Enter your email address" id="Email-3" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="button submit-button w-button"></div>
          </form>
          <div class="success-bg w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="error-bg w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">
      <div class="w-row">
        <div class="news-column-left w-col w-col-6">
          <div class="section-title-wrapper">
            <h2 class="section-title">Latest News</h2>
            <div class="section-title-divider"></div>
          </div>
          <div class="w-dyn-list">
            <div class="w-dyn-items">
              <div class="blog-post-item w-dyn-item"><a class="blog-post-title-link"></a>
                <div class="blog-post-info-block">
                  <div class="course-info-icon"></div>
                  <div class="blog-info-title"></div>
                  <div class="course-info-icon"></div>
                  <div class="blog-info-title"></div>
                </div>
              </div>
            </div>
            <div class="empty-state w-dyn-empty">
              <p>No blog posts found.</p>
            </div>
          </div>
          <div class="bottom-info-text">Want to read more? <a href="blog.html">View Full Blog Archive →</a></div>
        </div>
        <div class="about-column-right w-col w-col-6">
          <div class="section-title-wrapper">
            <h2 class="section-title">About our School</h2>
            <div class="section-title-divider"></div>
          </div>
          <a href="#" class="video-lightbox w-inline-block w-lightbox">
            <div class="about-image-block">
              <div class="lightbox-overlay-block">
                <div class="overlay-lightbox-icon"></div>
              </div>
            </div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "video",
      "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FAYAHkql75qM%3Fautoplay%3D1%26feature%3Doembed&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DAYAHkql75qM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAYAHkql75qM%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
      "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAYAHkql75qM%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
      "width": 940,
      "height": 528,
      "originalUrl": "https://www.youtube.com/watch?v=AYAHkql75qM",
      "url": "http://www.youtube.com/watch?v=AYAHkql75qM"
    }
  ]
}</script>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero.</p><a href="about-us.html" class="link-below-paragraph">Learn more →</a></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Upcoming Events</h2>
        <h2 class="section-title subtitle">Morbi accumsan ipsum velit. Nam nec tellus</h2>
        <div class="section-title-divider"></div>
      </div>
      <div class="upcoming-events-list-wrapper w-dyn-list">
        <div class="w-dyn-items">
          <div class="event-item w-dyn-item">
            <a class="event-image-block w-inline-block">
              <div class="event-date-block w-clearfix">
                <div class="event-date-title"></div>
                <div class="event-date-title month"></div>
                <div class="event-date-title month"></div>
              </div>
            </a>
            <div class="event-info-block"><a class="event-title-link"></a>
              <div class="event-info-wrapper">
                <div class="course-info-icon"></div>
                <div class="event-info-title"></div>
                <div class="course-info-icon"></div>
                <div class="event-info-title"></div>
                <div class="event-info-title">-</div>
                <div class="event-info-title"></div>
              </div>
              <div class="event-info-wrapper">
                <div class="course-info-icon"></div>
                <div class="event-info-title"></div>
              </div><a class="button events-learn-more w-button">Learn more</a></div>
          </div>
        </div>
        <div class="empty-state w-dyn-empty">
          <p>No upcoming events found yet.</p>
        </div>
      </div>
      <div class="bottom-info-text">Want to see the full list of upcoming Events? <a href="events.html">View Full Events Overview →</a></div>
    </div>
  </div>
  <div class="footer">
    <div class="container w-container">
      <div class="footer-row w-row">
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">Contact us</div>
          <a href="#" class="footer-contact-block w-inline-block">
            <div class="footer-contact-title icon"></div>
            <div class="footer-contact-title">+1 303 4020 43</div>
          </a>
          <a href="#" class="footer-contact-block w-inline-block">
            <div class="footer-contact-title icon"></div>
            <div class="footer-contact-title">+1 303 4020 42</div>
          </a>
          <a href="#" class="footer-contact-block w-inline-block">
            <div class="footer-contact-title icon"></div>
            <div class="footer-contact-title">info@university.com</div>
          </a><a href="http://www.facebook.com" target="_blank" class="footer-social-button w-inline-block"><img src="images/Icon-facebook_2.png" class="footer-social-icon"></a><a href="http://www.twitter.com" target="_blank" class="footer-social-button w-inline-block"><img src="images/Icon-twitter_1.png" class="footer-social-icon"></a><a href="http://www.linkedin.com" target="_blank" class="footer-social-button w-inline-block"><img src="images/Icon-linkedin.png" class="footer-social-icon"></a></div>
        <div class="footer-column last w-col w-col-3">
          <div class="footer-title">About us</div><a href="about-us.html" class="footer-list-link">About us</a><a href="404.html" class="footer-list-link">Our Teachers</a><a href="faqs.html" class="footer-list-link">FAQs</a><a href="contact-us.html" class="footer-list-link">Contact us</a><a href="404.html" class="footer-list-link">Helpdesk</a></div>
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">USEFUL LINKS</div><a href="faqs.html" class="footer-list-link">FAQs</a><a href="contact-us.html" class="footer-list-link">Contact us</a><a href="404.html" class="footer-list-link">Helpdesk</a><a href="404.html" class="footer-list-link">Our Teachers</a><a href="about-us.html" class="footer-list-link">About us</a></div>
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">FEATURED COURSES</div>
          <div class="w-dyn-list">
            <div class="w-dyn-items">
              <div class="w-dyn-item"><a class="footer-list-link"></a></div>
            </div>
            <div class="w-dyn-empty">
              <p>No items found.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer-block">
        <div class="bottom-footer-text">Copyright © University - Images used for demonstration purpose only (<a href="404.html" class="footer-link">Licenses</a>)</div>
        <div class="bottom-footer-text right">Template design by <a target="_blank" href="http://studiocorvus.com/" class="footer-link">Studio Corvus</a> - <a target="_blank" href="https://webflow.com/templates/designers/rowan-hartsuiker" class="footer-link">View all templates</a></div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" intergrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>
