<h3> Nouveau commentaire sur un post qui vous intéresse </h3>

Bonjour <%= @member.first_name.capitalize %>
<br />
<br />
<p>
Un commentaire vient d'être posté sur un événement qui vous intéresse. Si vous voulez le voir, suivez ce
<%= link_to('lien', @link) %>
</p>
