$primary_color: #333333;
$fill_color: #339999;
$hover_color: #2e8585;
$border_color: #c2c2c2;

$color_navbar: #A445A1;
$color_featured: purple;

$color_search_box: #E0D4E8;

.btn{
  border-color: purple;
  color: purple;
}

.btn a:hover{
  background-color:green !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-primary {
  color: #fff;
  background-color: $color_navbar;
  border-color: black;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
}

.search-bar{
  display: block !important;;
  justify-content: center !important;
  margin:auto !important;
  margin-bottom: 4rem !important;
}

.search-box{
  margin: auto  !important;
  background-color: $color_search_box  !important;
  display: block  !important;
  justify-content: center  !important;
  border:1px purple solid !important;
  width: 80vw !important;
}
