$primary_color: #333333;
$fill_color: #339999;
$hover_color: #2e8585;
$border_color: #c2c2c2;

$color_navbar: #A445A1;
$color_featured: purple;

$color_search_box: #E0D4E8;

.btn{
  border-color: purple;
  color: purple;
}

.btn a:hover{
  background-color:green !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-primary {
  color: #fff;
  background-color: $color_navbar;
  border-color: black;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
}

.search-bar{
  display: block !important;;
  justify-content: center !important;
  margin:auto !important;
  margin-bottom: 4rem !important;
}

.search-box{
  margin: auto  !important;
  background-color: $color_search_box  !important;
  display: block  !important;
  justify-content: center  !important;
  border:1px purple solid !important;
  width: 80vw !important;
}

.modal-header{
  background-color: $color_navbar;
  border-top-radius: 5px;
  border: solid 2px purple;
}

.modal-title{
  font-size: 20px;
}
.modal-body{
    background-color: white;
    font-size: 110%;
}
.modal-footer{
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.btn-secondary{
  background-color: white;
  color: purple;
}

.tag{
  color: black !important;
  border-radius: 3px;
  border: solid 1px violet;
  background-color: violet;
}
