#show_event tr > td:first-child {
    padding-right: 10px;
    color: #339999;
}

#events th:not(:first-of-type) {
    text-align: center;
}

#events td:not(:first-of-type) {
    text-align: center;
}

#events td:last-child{
    width: 110px;
}

#events td:nth-child(even):not(:first-of-type) {
    background-color: #ff61610f;
}

#map {
    display: none;
    position: absolute;
    border: solid 25px rgba(0, 0, 0, 0.562);
    border-radius: 5px;
}

#map_close {
    display: none;
    position: absolute;
    height: 20px;
    text-align: right;
    font-size: 17px;
    margin-top: 2px;
    padding-right: 25px;
    color: white;
}

#map_close > span:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.755);
}

.location_icon {
    color: #ff6161;
}

.location:hover {
    color: #ff9494;
}