#show_event {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#event {
    flex: 1;
    padding: 10px;
}

#event > img {
    border-radius: 5px;
}

#event_title {
    display: flex;
    justify-content: space-between;
}

#event_content {
    position: relative;
    border: solid 1px rgb(194, 194, 194);
    border-radius: 5px;
    padding: 10px;
}

#event > img {
    margin-bottom: 10px;
}


#event_content > div {
    position: relative;
    margin-top: 10px;
}

#event_pictures {
    border: solid 1px rgb(194, 194, 194);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#event hr {
    margin: 10px 0px 10px 0px;
}

#event_controls {
    text-align: right;
    margin-top: 10px;
}

#discussion {
    flex: 1;
    padding: 10px 10px 10px 20px;
}

map {
    width: 300px;
    height: 300px;
    margin-left: 25px;
    border-radius: 5px;
}

.comment {
    border-bottom: solid 1px rgb(196, 196, 196);
    margin-bottom: 15px;
}

.member {
    align-content: center;
}

.help-block {
    color: #a94442;
}

.btn-centered {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-centered a {
    margin: 0px 5px 0px 5px;
}

#avatar {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}