#show_event tr > td:first-child {
    padding-right: 10px;
    color: #339999;
}

#events th:not(:first-of-type) {
    text-align: center;
}

#events td:not(:first-of-type) {
    text-align: center;
}

#events td:last-child{
    width: 110px;
}

#events td {
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: middle;
}

#map {
    height: 300px;
}

.location_icon {
    color: #ff6161;
}

.location:hover {
    color: #ff9494;
}

.organizer {
    margin-left: 5px;
}

.organizer > img {
    border-radius: 5px;
}

.organizer > span {
    display: block;
    font-size: 10px;
    font-weight: bold;
}

.organizer:hover {
    opacity: 0.8;
}

.professional {
    color: #ff9494;
}

.member {
    color: black;
}

#events td:nth-child(even):not(:first-of-type) {
    /* background-color: rgba(198, 224, 125, 0.2); */
    background-color: #ff61610f;
}

#events .participate {
    background-color: #ff9494;
}

#events .participate:hover {
    background-color: #ff6161;
}
