@import "default";

#events td {
    vertical-align: middle;
}

#events tbody tr:hover{
  background-color: $hover_color;
  color: white;
  cursor: pointer;
}

#events th:not(:first-of-type), #events td:not(:first-of-type) {
    text-align: center;
}

#events thead > tr {
    background-color: $hover_color;
    color: white;
    font-weight: bold;
}

#events thead > tr > th {
    border: none;
}

#add_event {
    text-align: center;
}

#add_event > a:hover {
    background-color: $hover_color;
    border-color: $hover_color;
    color: white;
}

#search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#search-box {
    border-color: $hover_color;
    color: $hover_color;
    margin: auto;
    width: 700px;
}

#pagination-container ul {
    padding: 0px;
}
