#show_event tr > td:first-child {
    padding-right: 10px;
    color: #339999;
}

#events th:not(:first-of-type) {
    text-align: center;
}

#events td:not(:first-of-type) {
    text-align: center;
}

#events td:last-child{
    width: 110px;
}

#events td {
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: middle;
}

#map_container {
    display: none;
    position: absolute;
    border: solid 2px #339999;
    border-radius: 3px;
}

#map_close {
    text-align: right;
    font-size: 14px;
    color: white;
    padding: 5px;
    background-color: #339999;
    cursor: pointer;
}

#map_close:hover {
    color: #1b4f4f;
}

.location_icon {
    color: #ff6161;
}

.location:hover {
    color: #ff9494;
}

.organizer {
    margin-left: 5px;
}

.professional > img {
    border-radius: 5px;
}

.professional > span {
    display: block;
    font-size: 10px;
    color: #ff9494;
    font-weight: bold;
}

.professional:hover {
    opacity: 0.8;
}
