#home {
    color: white;
    font-size: 20px;
    margin: 50px auto 0px auto;
    max-width: 700px;
}

@media all and (max-device-width: 600px) {
    #home {
        text-shadow: 1px 1px 5px black;
    }
}

#home h1 {
    font-size: 44px;
    font-weight: normal;
    height: 44px;
    line-height: 44px;
    margin: 0px;
    opacity: 1;
    text-align: left;
}

#home em {
    font-size: 17px;
}

#home_content {
    font-size: 25px;
    margin-top: 20px;
}

#home a {
    // font-weight: bold;
    color: white;
    // text-decoration: underline;
}
