#home {
    color: white;
    font-size: 30px;
    margin: 50px auto 0px auto;
    max-width: 700px;
}

#home_title {
    font-size: 40px;
}

#home_title span a {
    font-size: 12px;
    color: white;
}

#home_title span a:hover {
    text-decoration: underline;
}
