// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image-mobile {
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:-100px; top:-100px;}
    25%  {left:200px; top:-100px;}
    50%  {left:200px; top:200px;}
    75%  {left:-100px; top:200px;}
    100% {left:-100px; top:-100px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:-100px; top:-100px;}
    25%  {left:200px; top:-100px;}
    50%  {left:200px; top:200px;}
    75%  {left:-100px; top:200px;}
    100% {left:-100px; top:-100px;}
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #339999;
    color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #BCE469;
}