// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Trirong');

body {
    font-family: 'Trirong', sans-serif;
}

.container {
    padding-top: 0px;
}

a {
    color: #333333;
}

a:focus {
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #ff9494;
    text-decoration: none;
    outline: none;
}

.image-mobile {
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:-100px; top:-100px;}
    25%  {left:200px; top:-100px;}
    50%  {left:200px; top:200px;}
    75%  {left:-100px; top:200px;}
    100% {left:-100px; top:-100px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:-100px; top:-100px;}
    25%  {left:200px; top:-100px;}
    50%  {left:200px; top:200px;}
    75%  {left:-100px; top:200px;}
    100% {left:-100px; top:-100px;}
}

.navbar-default {
    background-color: white;
    border: none;
    padding: 10px 0px 10px 0px;
    background-image: image-url("Ginkgo-biloba.jpg");
    margin: 0px;
    border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
    margin-left: 20px;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    border-bottom: solid 1px white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background: none;
    color: white;
    border-bottom: solid 1px white;
}

h1 {
    font-size: 30px;
    color: rgb(184, 216, 86);
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.container {
    padding-top: 5px;
}

a.badge:hover {
    background-color: #ff6161;
    transition: 250ms;
}

h3 {
    margin-top: 0px;
}

.navbar-brand {
    padding: 0px;
    margin-right: 10px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.location_icon {
    color: #ff6161;
}

.location:hover {
    color: #ff9494;
}

.green_form {
    width: 500px;
    margin: auto;
    background-color: #bad85676;
    border-radius : 5px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

.green_form hr {
    background-color: white;
    height: 2px;
}

#form_avatar {
    float: right;
}

.participate {
    background-color: #ff9494;
}

.participate:hover {
    background-color: #ff6161;
}