// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Trirong');

body {
    font-family: 'Trirong', sans-serif;
}

.image-mobile {
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:-100px; top:-100px;}
    25%  {left:200px; top:-100px;}
    50%  {left:200px; top:200px;}
    75%  {left:-100px; top:200px;}
    100% {left:-100px; top:-100px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:-100px; top:-100px;}
    25%  {left:200px; top:-100px;}
    50%  {left:200px; top:200px;}
    75%  {left:-100px; top:200px;}
    100% {left:-100px; top:-100px;}
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    margin-left: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: solid 6px #33999983;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    border-bottom: solid 6px #339999;
    background-color: transparent;
}

#logo {
    padding-top: 5px;
}

h1 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    background-image:linear-gradient(to right, #339999, #48d2d2);
    padding: 10px;
    border-radius: 4px;
    margin-top: 40px;
}

.pointer {
    cursor: pointer;
}

.container {
    padding-top: 5px;
}