@import "default";

em {
    font-size: 80%;
}

h4 {
    border-bottom: solid 4px;
    border-color: $hover_color;
    margin-bottom: 20px;
    padding: 5px;
}

.pricing-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing {
    margin: 0 30px;
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
}

.pricing-image {
    margin-top: 30px;
    text-align: center;
}

.pricing-image > img {
    width: 200px;
}

