  <div class="page-header courses-grid">
    <div class="page-header-overlay">
      <div class="container w-container">
        <h2 data-ix="fade-in-on-load" class="page-header-title">Les témoignages <% if @topic %> à propos de "<%= @topic %>"<% end %></h2>
        <h2 data-ix="fade-in-on-load-2" class="page-subtitle">Partages d'un ami à des amis pour montrer ce qui existe</h2>
      </div>
    </div>
  </div>
  <div class="section tint">
    <%= link_to "Ajouter un témoignage", new_testimonial_path, class: "button submit-button w-button", style: "font-size: 100%; width:237px; margin:auto "%>
    </br>
    <div class="container w-container">
      <div class="blog-list-wrapper w-dyn-list">
        <div class="blog-list w-clearfix w-dyn-items w-row">
          <%= render partial: 'testimonial', collection: @testimonials %>
        </div>
      </div>
    </div>
  </div>
