
<div class="container" style="width: 60%;font-size: 120%">
   <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#modal_info">
    Présentation
  </button>

<%= render 'form', testimonial: @testimonial %>

<hr/>

<%= render "info_new" %>
<!-- Popup showed if the first time -->
<% if !cookies.permanent[VIEWED_NEW_TESTIMONIAL] %>
  <script>
     $('#modal_info').modal('show');
  </script>
<% end %>
