<footer>
    <div class="container footer">
        <nav>
            <ul>
                <li>
                    <%= link_to 'A propos', root_path %>
                </li>
                <li>
                    <%= link_to 'Notre équipe', team_path %>
                </li>
               <li>
                    <%= link_to 'Contactez-nous', contact_path %>
                </li>
            </ul>
        </nav>
        <div id="copyright">
            <%= link_to "© 2017, Made with lot of ❤️ at THP", "https://thehackingproject.herokuapp.com/" %>.
        </div>
    </div>
</footer>
