<div class="footer">
  <div class="container w-container">
    <div class="footer-row w-row">
      <div class="footer-column w-col w-col-3">
        <div class="footer-title">Contactez-nous</div>
        <a href="#" class="footer-contact-block w-inline-block">
          <div class="footer-contact-title icon"></div>
          <div class="footer-contact-title">Ecrivez-nous</div>
        </a>
        <a href="#" class="footer-contact-block w-inline-block">
          <div class="footer-contact-title icon"></div>
          <div class="footer-contact-title">Nous vous téléphonons</div>
        </a>
        <a href="#" class="footer-contact-block w-inline-block">
          <div class="footer-contact-title icon"></div>
          <div class="footer-contact-title">Nous vous téléphonons</div>
        </a>
        <a href="http://www.facebook.com" target="_blank" class="footer-social-button w-inline-block">
          <%= image_tag "webflow/Icon-facebook_2.png", class: "footer-social-icon" %>
        </a>
        <a href="http://www.twitter.com" target="_blank" class="footer-social-button w-inline-block">
          <%= image_tag "webflow/Icon-twitter_1.png", class: "footer-social-icon" %>
        </a>
        <a href="http://www.linkedin.com" target="_blank" class="footer-social-button w-inline-block">
          <%= image_tag "webflow/Icon-linkedin.png", class: "footer-social-icon" %>
        </a>
      </div>
      <div class="footer-column last w-col w-col-3">
        <div class="footer-title">Notre mission</div>
        <a href="about-us.html" class="footer-list-link">Le pourquoi de Bilobaba</a>
        <a href="404.html" class="footer-list-link">Un mot sur le fondateur</a>
        <a href="faqs.html" class="footer-list-link">Comment nous aider</a>
        <a href="contact-us.html" class="footer-list-link">Devenir partenaires</a>
        <a href="404.html" class="footer-list-link">Nos remerciements</a>
      </div>
      <div class="footer-column w-col w-col-3">
        <div class="footer-title">A propos</div>
        <a href="faqs.html" class="footer-list-link">C.G.U.</a>
        <a href="faqs.html" class="footer-list-link">C.G.V.</a>
        <a href="contact-us.html" class="footer-list-link">Politique de confidentialité</a>
        <a href="404.html" class="footer-list-link">FAQs</a>
        <a href="404.html" class="footer-list-link">Mentions légales</a>
      </div>
      <div class="footer-column w-col w-col-3">
        <div class="footer-title">Choisir le pays</div>
        <div class="w-dyn-list">
          <div class="w-dyn-items">
            <div class="w-dyn-item">
              <a class="footer-list-link">FRANCE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer-block">
      <div class="bottom-footer-text">Copyright © Bilobaba 2017</div>
      <div class="bottom-footer-text right">Super moteur de recherche par <a target="_blank" href="http://www.algolia.com/" class="footer-link">ALGOLIA</a> - Made with
        <a target="_blank" class="footer-link">
          <i class="fa fa-heart-o footer-link"></i>
        </a>
        at
        <a target="_blank" href="https://www.thehackingproject.org/" class="footer-link">
          The Hacking Project
        </a>
      </div>
    </div>
  </div>
  <div class="sticker-footer">
    <a href="#top_of_page">
      <i class="fa fa-arrow-circle-o-up" style="font-size:48px;color:purple"></i>
    </a>
  </div>
</footer>
