<footer>
    <div class="container footer">
        <nav>
            <ul>
                <li>
                    <%= link_to 'A propos', root_path %>
                </li>
                <li>
                    <%= link_to 'Contactez-moi', contact_path %>
                </li>
            </ul>
        </nav>
        <div id="copyright">
            © 2017, Made with ❤️ at THP.
        </div>
    </div>
</footer>