<div class="modal fade" id="modal_map" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <span style="font-size: 135%;"><b><%= map_title(title)[0] %> </b></span></br>
          <span style="font-size: 120%"><%= map_title(title)[1] %></span>
        </div>
      </div>
      <div class="modal-body">
        <div id="map">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
