<header>
  <div class="header-wrapper">
    <div data-collapse="none" data-animation="default" data-duration="400" class="top-navbar w-nav">
      <div class="w-container">
        <nav role="navigation" class="top-nav-menu w-nav-menu">
          <a href="#" class="top-nav-link w-inline-block">
            <div class="top-nav-title icon"></div>
            <div class="top-nav-title">06 63 21 61 65</div>
          </a>
          <a href="#" class="top-nav-link w-inline-block">
            <div class="top-nav-title icon"></div>
            <div class="top-nav-title">hello.bilobaba@gmail.com</div>
          </a>
        </nav>
        <div class="top-bar-text w-hidden-small w-hidden-tiny">Des propositions  tous les jours !</div><a href="our-courses/courses-featured.html" class="top-bar-link w-hidden-small w-hidden-tiny">Regarder notre actualité →</a>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div data-collapse="medium" data-animation="over-right" data-duration="400" data-doc-height="1" class="navbar w-nav">
      <div class="w-container">
        <a href="index.html" class="logo-block w-nav-brand">

          <%= image_set_tag "logo.png", {"logo.png" => "500w", "logo.png" => "800w"},
          sizes: "(max-width: 479px) 93vw, (max-width: 767px) 171.109375px, (max-width: 991px) 192.5px, 235.28125px",
          class: "image-logo" %>

        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div data-delay="0" data-hover="1" class="dropdown w-dropdown">
            <div class="nav-link dropdown-toggle w-dropdown-toggle">
              <div>Homepage</div>
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
            </div>
            <nav class="dropdown-list w-dropdown-list"><a href="index.html" class="dropdown-link w-dropdown-link">Homepage #1</a><a href="home-2.html" class="dropdown-link w-dropdown-link">Homepage #2</a><a href="home-3.html" class="dropdown-link w-dropdown-link">Homepage #3</a></nav>
          </div>
          <div data-delay="0" data-hover="1" class="dropdown w-dropdown">
            <div class="nav-link dropdown-toggle w-dropdown-toggle">
              <div>Courses</div>
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
            </div>
            <nav class="dropdown-list w-dropdown-list"><a href="our-courses/categories.html" class="dropdown-link w-dropdown-link">Categories</a><a href="our-courses/courses-listview.html" class="dropdown-link w-dropdown-link">Courses (List View)</a><a href="our-courses/courses-grid-view.html" class="dropdown-link w-dropdown-link">Courses (Grid View)</a><a href="our-courses/courses-featured.html" class="dropdown-link w-dropdown-link">Featured Courses</a></nav>
          </div>
          <div data-delay="0" data-hover="1" class="dropdown w-dropdown">
            <div class="nav-link dropdown-toggle w-dropdown-toggle">
              <div>Information</div>
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
            </div>
            <nav class="dropdown-list w-dropdown-list"><a href="about-us.html" class="dropdown-link w-dropdown-link">About us</a><a href="teachers.html" class="dropdown-link w-dropdown-link">Our Teachers</a><a href="pricing.html" class="dropdown-link w-dropdown-link">Pricing Information</a></nav>
          </div><a href="events.html" class="nav-link w-nav-link">Events</a><a href="blog.html" class="nav-link w-nav-link">Blog</a><a href="faqs.html" class="nav-link w-nav-link">FAQs</a><a href="contact-us.html" class="nav-link w-nav-link">Contact us</a></nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</header>
