<p id="notice"><%= notice %></p>

<h1>Membres</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
