<h1>PROFESSIONNELS</h1>

<div class="container">
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.pseudo, member %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>