<%= stylesheet_link_tag 'members' %>

<h1><%= @title %></h1>

<div class="container">

  <div id="members">
    <% @members.each_with_index do |member, i| %>
      <%= render partial: "member", locals: { member: member } %>
    <% end %>
  </div>
</div>